<%= form_with(model: recipe, local: true) do |form| %>
  <% if recipe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

      <ul>
      <% recipe.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.text_field :name, placeholder: "Name", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.select :type_id, @types.collect { |t| [t.name, t.id ]}, {include_blank: "Please select a type"} %>
  </div>

  <div class="form-group">
    <%= form.text_field :vegetarian, placeholder: "Veg?", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.number_field :amount, placeholder: "Amount", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.text_field :unit, placeholder: "Unit", class: "form-control" %>
  </div>

  <div class="field">
    <%= form.number_field :ingredient_id, placeholder: "Ingredient", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.text_field :tried, placeholder: "Tested?", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.text_field :rating, placeholder: "Rating", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.text_field :meal_prep, placeholder: "Meal Prep?", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.text_field :notes, placeholder: "Notes", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.text_field :link, placeholder: "Link", class: "form-control" %>
  </div>

  <div class="form-group">
    <strong>Upload Recipe Image: </strong>
    <%= form.file_field :image %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
